body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, red), color-stop(50%, white), color-stop(70%, orange));
    background: -o-linear-gradient(top, red 30%, white 50%, orange 70%);
    background: linear-gradient(to bottom, red 30%, white 50%, orange 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 50px;
}
ul{
    list-style: none;
}
li{
    margin: 10px;
    text-align: center;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: #ea3911;
}
.desactiver:hover{
    color: blue;
}
#sous{
    display: none;
    flex-direction: column;
}
#sous a{
    margin: 5px 0;
}
#ouvre:hover #sous{
    display: flex;
}
footer{
    position: absolute;
    bottom: 0vh;
    right: 20px;
}