@font-face{
    font-family: "attache";
    src: url(../police/DancingScript-Medium.ttf) format("truetype");
}
/* ***** rajout ***** */
body{
    margin: auto;
    width: 1200px;
    background-image: url(../Image/expace.jpg);
    background-position: center;
    background-size: cover;
}
h1,h2,h3,p{
    text-align: center;
    color: white;
}
h1{
    margin:0;
    padding-bottom: 20px;
    font-family: "attache",serif;
    font-size: 50px;
}
.titre{
    margin: 0 300px;
    border-radius: 50px;
    padding: 20px 0;
    background-image: url(../Image/vortex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p{
    font-size: 20px;
}
h2{
    font-size: 40px;
}
h3{
    color: black;
}
h4{
    float: right;
    font-family: "attache",serif;
    font-size: 25px;
    color: white;
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgb(0,0,255)), color-stop(20%, rgb(153 87 211)),color-stop(50%, rgb(0,0,255)), color-stop(70%, rgb(153 87 211)),to(rgb(0,0,255)));
    background: -o-linear-gradient(left, rgb(0,0,255)10%, rgb(153 87 211) 20%,rgb(0,0,255)50%, rgb(153 87 211) 70%,rgb(0,0,255)100%);
    background: linear-gradient(to right, rgb(0,0,255)10%, rgb(153 87 211) 20%,rgb(0,0,255)50%, rgb(153 87 211) 70%,rgb(0,0,255)100%);
    z-index: 100;
    z-index: 100;
}
a{
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
}
a:hover{
    color: #00e7ff;
}
ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}
.page{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bt_expli{
    margin: 50px;
    width: 350px;
    background-color:#963ef4;
    -webkit-box-shadow: 10px 10px 5px rgb(77 7 158);
    box-shadow: 10px 10px 5px rgb(77 7 158);
}
dt{
    padding-top: 10px;
    padding-left: 20px;
}
dt::before{
    content: "* ";
}
dd::before{
    content: "- ";
}
hr{
    border-style: dashed;
    border-color: blueviolet;
    padding: 0;
}
.monter{
    position: relative;
    top:-50px;
}
/* ***** exercice ***** */
/* partie 1 (sans position)*/
#bt_exo1{
    margin: auto;
    width: 600px;
    height: 220px;
}
.exo1{
    padding: 30px;
    border: black solid 2px;
}
#exo1_1{
    border-radius: 30px;
    background-color: rgb(56, 209, 18);
}
#exo1_2{
    background-color: blue;
}
#exo1_3{
    border: rgb(255, 94, 0) inset 8px;
    background-color: orange;
}
/* partie 2 (relatif)*/
#bt_exo2{
    margin: auto;
    width: 400px;
    height: 210px;
}
.exo2{
    position: relative;
    border: solid black 2px;
}
#exo2_1{
    height: 200px;
    background-color: green;
}
#exo2_2{
    top: 30px;
    left: 200px;
    width: 300px;
    height: 120px;
    background-color: rgba(0, 0, 255, 0.5);
}
#exo2_3{
    top: 30px;
    right: 250px;
    height: 50px;
    border: red 6px;
    border-style: dashed solid;
    background-color: orange;
}
/* partie 3 (1 seul absolute)*/
#bt_exo3{
    margin: auto;
    width: 600px;
    height: 350px;
}
.exo3{
    position: relative;
    padding: 30px;
    border: solid black 2px;
}
#exo3_1{
    width: 500px;
    background: -webkit-gradient(linear,left top, right top,from(rgb(136, 70, 190)), to(blue));
    background: -o-linear-gradient(left,rgb(136, 70, 190), blue);
    background: linear-gradient(to right,rgb(136, 70, 190), blue);
}
#exo3_2{
    border: none;
    background: -webkit-gradient(linear,left top, right top,from(blue),to(rgb(136, 70, 190)));
    background: -o-linear-gradient(left,blue,rgb(136, 70, 190));
    background: linear-gradient(to right,blue,rgb(136, 70, 190));
}
#exo3_3{
    position: absolute;
    top: 170px;
    right: 300px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, orange), to(yellow));
    background: -o-linear-gradient(orange 70%, yellow);
    background: linear-gradient(orange 70%, yellow);
}
/* partie 4 (uniquement des absolute) */
#bt_exo4{
    position: relative;
    margin: auto;
    width: 600px;
    height: 470px;
}
.exo4{
    position: absolute;
}
#exo4_1{
    right: 20px;
    width: 500px;
    height: 100px;
    background-color:rgba(38, 146, 196, 0.5);
}
#exo4_2{
    top: 120px;
    left: 150px;
    border-radius: 50px 0;
    width: 200px;
    height: 200px;
    background-color: rgb(27, 189, 27);
}
#exo4_3{
    top: 170px;
    left: 200px;
    border-radius: 50px;
    border-color: blue;
    width: 100px;
    height: 100px;
    background-color: blue;
}
#exo4_4{
    top: 350px;
    right: 100px;
    width: 100px;
    height: 100px;
    background-color: orange;
}
/* partie 5-1 (box-sizing + absolutte) */
#bt_exo5{
    margin: auto;
    width: 600px;
    height: 500px;
}
#exo5_1{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    left: 100px;
    width: 420px;
    height: 420px;
    border: black solid 2px;
    background-color: rgba(38, 146, 196, 0.5);
}
.exo5{
    position: absolute;
    border: solid black 2px;
    width: 170px;
    height: 170px;
}
#exo5_2{
    top:20px;
    left: 20px;
    background-color:  rgb(27, 189, 27);
}
#exo5_3{
    top: 20px;
    right: 20px;
    background-color: blue;
}
#exo5_4{
    left: 20px;
    bottom: 20px;
    background-color: red;
}
#exo5_5{
    right: 20px;
    bottom: 20px;
    background-color: yellow;
}
/* partie 5-2 (box-sizing + relatif) */
.exo5_2{
    box-sizing: border-box;
    position: relative;
    border: solid black 2px;
    width: 170px;
    height: 170px;
}
#exo5_2_2{
    top:20px;
    left: 20px;
    background-color: rgb(27, 189, 27);
}
#exo5_3_2{
    top: -150px;
    left: 230px;
    background-color: blue;
}
#exo5_4_2{
    left: 20px;
    bottom: 120px;
    background-color: red;
}
#exo5_5_2{
    left: 230px;
    bottom: 290px;
    background-color: yellow;
}
/* partie 6 (z-index, respecter ordre couleur */
/* vert -> bleu -> chocolat -> jaune */
#bt_exo6{
    margin: auto;
    width: 600px;
    height:500px;
}
#exo6_1{
    margin: auto;
    border: solid black 2px;
    width: 400px;
    height: 400px;
    background-color: lightblue;
}
.exo6{
    width: 150px;
    height: 150px;
    border: solid black 2px;
}
#exo6_2{
    position: relative;
    background-color: rgb(27, 189, 27);
    top: 35px;
    left: 35px;
}
#exo6_3{
    position: relative;
    background-color: rgb(0 101 255 / 50%);
    bottom: 90px;
    left: 75px;
    z-index: 3;
}
#exo6_4{
    position: relative;
    background-color: chocolate;
    bottom: 120px;
    left: 190px;
    z-index: 2;
}
#exo6_5{
    position: relative;
    background-color: rgb(236, 233, 15);
    bottom: 240px;
    left: 230px;
}
/* partie 7 (float) */
#bt_exo7{
    margin: auto;
    width: 600px;
    height:500px;
}
#exo7_1{
    margin: auto;
    border: solid black 2px;
    width: 500px;
    height: 400px;
    padding: 30px;
    background-color: white;
}
.exo7{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 130px;
    height: 130px;
    border: black solid 2px;
}
#exo7_2{
    float: left;
    background-color: rgb(27, 189, 27);
}
#exo7_3{
    float: left;
    background-color: blue;
}
#exo7_4{
    float: left;
    width: 500px;
    background-color: orange;
}
#exo7_5{
    float: right;
    background-color: yellow;
}
#exo7_6{
    float: right;
    background-color: grey;
}
/* partie 8 (sticky) */
#expli8{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#bt_exo8{
    margin: auto;
    width: 600px;
    height: 1200px;
}
#side{
    position: -webkit-sticky;
    position: sticky;
    float: left;
    margin: 16px;
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px 30px;
    top: 40px;
    background-color: orange;
}
#side ul{
    display: block;
    list-style: none;
    padding: 0;
}
#exo8_p{
    text-align: initial;
    word-break: keep-all;
    overflow-wrap: break-word;
}