/* ex1 */
.container{
    box-sizing: border-box;
    width: 100%;
}
.container-fluid{
    width: 100%;
}
@media screen and (max-width : 1200px){
    .container-fluid{
        margin: auto 0;
        width: 1000px;
    }
}

/* ex2 */
.row{
    width: 100%;
}
.row>div{
    box-sizing: border-box;
    float: left;
}
.row::after{
    clear: both;
    content: "";
}
.col-xs-1{
    width: calc(100% / 12);
}
.col-xs-2{
    width: calc(200% / 12);
}
.col-xs-3{
    width: calc(300% / 12);
}
.col-xs-4{
    width: calc(400% / 12);
}
.col-xs-5{
    width: calc(500% / 12);
}
.col-xs-6{
    width: 50%;
}
.col-xs-7{
    width: calc(700% / 12);
}
.col-xs-8{
    width: calc(800% / 12);
}
.col-xs-9{
    width: calc(900% / 12);
}
.col-xs-10{
    width: calc(1000% / 12);
}
.col-xs-11{
    width: calc(1100% / 12);
}
.col-xs-12{
    width: 100%;
}

/* exo 3 */
.container>div{
    box-sizing: border-box;
    float: left;
}
.container::after{
    clear: both;
    content: "";
}
@media screen and (min-width : 700px){
    .col-sm-1{
        width: calc(100% / 12);
    }
    .col-sm-2{
        width: calc(200% / 12);
    }
    .col-sm-3{
        width: calc(300% / 12);
    }
    .col-sm-4{
        width: calc(400% / 12);
    }
    .col-sm-5{
        width: calc(500% / 12);
    }
    .col-sm-6{
        width: calc(600% / 12);
    }
    .col-sm-7{
        width: calc(700% / 12);
    }
    .col-sm-8{
        width: calc(800% / 12);
    }
    .col-sm-9{
        width: calc(900% / 12);
    }
    .col-sm-10{
        width: calc(1000% / 12);
    }
    .col-sm-11{
        width: calc(1100% / 12);
    }
    .col-sm-12{
        width: 100%;
    }
}
@media screen and (min-width : 900px){
    .col-md-1{
        width: calc(100% / 12);
    }
    .col-md-2{
        width: calc(200% / 12);
    }
    .col-md-3{
        width: calc(300% / 12);
    }
    .col-md-4{
        width: calc(400% / 12);
    }
    .col-md-5{
        width: calc(500% / 12);
    }
    .col-md-6{
        width: calc(600% / 12);
    }
    .col-md-7{
        width: calc(700% / 12);
    }
    .col-md-8{
        width: calc(800% / 12);
    }
    .col-md-9{
        width: calc(900% / 12);
    }
    .col-md-10{
        width: calc(1000% / 12);
    }
    .col-md-11{
        width: calc(1100% / 12);
    }
    .col-md-12{
        width: 100%;
    }
}
@media screen and (min-width : 1200px){
    .col-lg-1{
        width: calc(100% / 12);
    }
    .col-lg-2{
        width: calc(200% / 12);
    }
    .col-lg-3{
        width: calc(300% / 12);
    }
    .col-lg-4{
        width: calc(400% / 12);
    }
    .col-lg-5{
        width: calc(500% / 12);
    }
    .col-lg-6{
        width: calc(600% / 12);
    }
    .col-lg-7{
        width: calc(700% / 12);
    }
    .col-lg-8{
        width: calc(800% / 12);
    }
    .col-lg-9{
        width: calc(900% / 12);
    }
    .col-lg-10{
        width: calc(1000% / 12);
    }
    .col-lg-11{
        width: calc(1100% / 12);
    }
    .col-lg-12{
        width: 100%;
    }
}

/* ***** site ***** */
body{
    margin: 0;
}
/* en tete */
#entete1{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}
#burger{
    position: relative;
    right: 30px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
span{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: black;
}
span::after,span::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
}
span::after{
    transform: translateY(-10px);
}
span::before{
    transform: translateY(10px);
}
#nav1{
    display: none;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 50px;
    left: -100vw;
    width: 110vw;
    background-color: grey;
    font-size: 30px;
}
nav a{
    text-decoration: none;
    color: brown;
}
#burger:hover #nav1{
    display: flex;
}
nav a:hover{
    background-color: rgb(100, 98, 98);
}
#entete2{
    margin-top: 70px;
    text-align: center;
}
#nav2{
    display: none;
}
/* instro */
h2{
    text-align: start;
    padding-left: 10px;
}
p{
    padding: 20px;
    text-align: justify;
}
/* article */
.art{
    height: 510px;
    box-sizing: border-box;
    padding: 10px;
}
.art div{
    overflow: auto;
    height: 100%;
    border: black 1px solid;
    border-radius: 20px;
}
.art img{
    margin:20px;
    float: left;
}
/* footer */
footer{
    text-align: center;
}

@media screen and (min-width: 900px){
    #entete1{
        display: none;
    }
    #entete2{
        margin-top: 0;
    }
    #nav2{
        display: flex;
        justify-content: space-around;
        border-radius: 50%;
    }
    #nav2 a{
        width: 100px;
        border: 1px solid black;
        border-radius: 20px;
        text-align: center;
    }
    .annuler{
        transform: translateX(50%);
        width: 500px;
    }
}
@media screen and (min-width: 1200px){
    .annuler{
        transform: none;
        width: calc(400%  / 12);
    }
}