html, body {
  max-width: 100%;
  background-color: #6adecd;
    text-align: center;
}


#exo5 {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 600px;
  border: 2px solid black;
  perspective: 1000px;
}
/* deplacer le tour du carre*/
#axeCentre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid black;
  animation-name: deplCarre;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
@keyframes deplCarre{
  0%{
    transform: translateX(-186px) translateY(-200px);
  }
  25%{
    transform: translateX(36px) translateY(-200px)
  }
  50%{
    transform: translateX(36px) translateY(50px)
  }
  75%{
    transform: translateX(-186px) translateY(50px)
  }
  100%{
    transform: translateX(-186px) translateY(-200px)
  }
}
/* rotation central */
#btAxeIm{
  width: 100px;
  height: 100px;
  border: 2px solid red;
  animation-name: rotCentre;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotCentre{
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}
/* rotation image */
#axeIm {
  animation-name: rotIm;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-style: preserve-3d;
}
/* rajout */
#axeIm:hover {
    animation-play-state: paused;
}
@keyframes rotIm {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}
/* Position image */
.btIm {
  position: absolute;
}

/* 
360/6 = 60°
*/
.btIm:nth-child(1) {
  transform: rotateY(0deg) translateZ(160px);
}
.btIm:nth-child(2) {
  transform: rotateY(60deg) translateZ(160px);
}
.btIm:nth-child(3) {
  transform: rotateY(120deg) translateZ(160px);
}
.btIm:nth-child(4) {
  transform: rotateY(180deg) translateZ(160px);
}
.btIm:nth-child(5) {
  transform: rotateY(240deg) translateZ(160px);
}
.btIm:nth-child(6) {
  transform: rotateY(300deg) translateZ(160px);
}