body{
    display: flex;
    justify-content: center;
}
#lang{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    transition: linear 3s;
}
#lang:hover{
    height: 500px;
    background-color: red;
}